{
	email {$ACME_EMAIL:admin@tnaprovider.com.au}
	admin off
	log {
		output file /data/caddy/access.log {
			roll_size 100mb
			roll_keep 5
		}
		format json
	}
}

{$WEB_DOMAIN:pte.tnaprovider.com.au} {
	encode zstd gzip
	reverse_proxy {$WEB_UPSTREAM:web:3000}
}

{$API_DOMAIN:api.tnaprovider.com.au} {
	encode zstd gzip
	reverse_proxy {$API_UPSTREAM:api:4000}
}

{$SCORING_DOMAIN:scoring.tnaprovider.com.au} {
	encode zstd gzip
	reverse_proxy {$SCORING_UPSTREAM:scoring:5000}
}
